.jumbotron {
  background-image:url(http://f75d82e4a8c81cb834b4-036d5c709549e7b2f4423345420c8b95.r13.cf2.rackcdn.com/8a942820ee4de303dba6c3f8fb28a6ad-5653fbb539b6e72a60e1d7307fa65645.png);
  background-repeat: no-repeat;
  background-position:3% 5%;
}

.jumbotron h1 {
  font-variant: small-caps;
  text-align: right;
  margin-top: 60px;
  color: #4d5259;
  padding-left: 120px;
}

.jumbotron h2 {
  text-align: center;
  color: #3caeb2;
}

form {
  margin-left: 7%;
  margin-right: 7%;
}

.result {
  border: 3px solid #3caeb2;
  display: none;
}

button {
  margin: 20px 0px;
  background-color: #3caeb2;
  color: white;
}

p {
  font-size: 24px;
}

#refresh {
  font-size: 16px;
  text-align: center;
  color: #4d5259;
}
/*
#result[^([\w\-]+)] {
  color: red;
}*/

@media screen and (max-width: 768px) {
  .jumbotron h1 {
    margin-top: 100px;
    padding-left: 100px;
  }
}
